$color-green: #00a65a;
$color-orange: #f39c12;
$color-red: #dd4b39;
$color-white: #ffffff;
$color-blue: #3c8dbc;
$color-container: #ecf0f5;
$color-black: #000;

//Header
$color-header-brand: #367fa9;
$color-header-menu: #3c8dbc;

//SideBar
$color-sidebar-background: #222d32;
$color-search-background: #374850;
$color-search-text: #b5b5b5;
$color-title-text: #405b5b;
$color-title-background: #1a2226;
$color-nav-text: #b8c7ce;
$color-menu-hover: #1e282c;

//HeaderContent
$color-light: #a29c98;
$color-path-light: #777;
$color-path-text: #444444;
$color-lighter: #d2d6de;

//MainContent
$color-border: #f4f4f4;
$color-table-hover: #f4f4f4;
$color-border-pagination-action: #d9d9d9;
$color-button-pagination: #fafafa;
$color-pagination-item-focus: #337ab7;
