@import "../../assets/scss/color";

.sidebar {
  width: 230px;
  color: $color-white;
  background-color: $color-sidebar-background;
  text-indent: 15px;
}

.nav-top {
  height: 130px;
  .user {
    font-size: 14px;
    display: flex;
    align-items: center;
    &-pic {
      width: 40px;
      height: 40px;
      margin: 0 20px 0 10px;
      img {
        width: 100%;
        border-radius: 100%;
      }
    }
    &-name {
      font-weight: bold;
      margin-left: -8px;
    }
    &-status {
      display: flex;
      margin-left: 9px;
      &-icon {
        width: 8px;
        height: 8px;
        background-color: $color-green;
        border-radius: 100%;
        display: block;
        margin-top: 10px;
      }
      &-text {
        font-size: 10px;
        margin: 7px 0 0 7px;
      }
    }
  }

  .search {
    position: relative;
    &-input {
      width: 85%;
      height: 40px;
      background-color: $color-search-background;
      border: none;
      border-radius: 5px;
      text-indent: 5px;
    }
    &-icon {
      position: absolute;
      bottom: 8px;
      right: 30px;
      color: $color-search-text;
    }
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-content: center;
  .title {
    height: 30px;
    background-color: $color-title-background;
    color: $color-title-text;
    font-size: 12px;
    padding: 8px 0 12px 0;
    margin-bottom: 0;
  }
}

p.user-infor {
  margin-top: 20px;
}

.search-icon:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
